/* Global Changes */
body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}


/* Nav */
nav {
  border-top: 5px solid #28a745;
  border-bottom: 1px solid #E2E8F0;
}


/* Images */
.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.nav-link.active {
  color: #28a745 !important;
}

.nav-link.active:hover, .nav-link.active:focus {
  color: #38A169 !important;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.card {
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: box-shadow 200ms cubic-bezier(.4, 0.0, 0.2, 1);
}

.card::hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0.08);
}

/* 
.card-img-top {
  height: 100px;
  width: 100px;
} */


legend {
  font-weight: 600;
}

.fa-li {
  color: #28a745 !important;
}

footer {
  border-top: 1px solid #CBD5E0;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  padding: 12px;
  padding-bottom: 20px;
}

footer a {
  color: #43aaa8;
  text-decoration: none;
  border-bottom: 1px solid #28a745;
}

footer a:hover {
  color: white;
  text-decoration: none;
  background-color: #28a745;
}

@media only screen and (max-width: 766px) {
  .navbar-nav {
    display: block !important;
  }
}