{% extends "base.html" %}
{% set active_page = "advice" %}
{% block content %}

<div class="container card" style="padding: 30px;">
  <h1>How to Go Viral</h1>
  <p>
    Every kid's dream is to go viral on YouTube, but <i>how</i> exactly do you accomplish that?... Currently typing the rest on a separate doc
  </p>
  <ul class="fa-ul">
    <li>
      <span class="fa-li"><i class="far fa-check-circle"></i></span>
      Know your audience
    </li>
    <li>
      <span class="fa-li"><i class="far fa-check-circle"></i></span>
      Know what's trending and try to integrate it into your work
    </li>
    <li><span class="fa-li"><i class="far fa-check-circle"></i></span>Be creative, think out of the box</li>
  </ul>
</div>

{% endblock %}
