{% extends "base.html" %}
{% block content %}
<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-app.js">
</script>
<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyAVVYmPEADnqJE4u9nEFHIXDJnIB9bpy0A",
    authDomain: "notuniversity-hacks.firebaseapp.com",
    databaseURL: "https://notuniversity-hacks.firebaseio.com",
    projectId: "notuniversity-hacks",
    storageBucket: "notuniversity-hacks.appspot.com",
    messagingSenderId: "660080288017",
    appId: "1:660080288017:web:c5904e1de91043f20c2cb0",
    measurementId: "G-C0J9PNNVGP"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

  // Firebase auth setup
  firebase.auth().useDeviceLanguage();
  var provider = new firebase.auth.GoogleAuthProvider();

  // OAuth data scopes
  provider.addScope('https://www.googleapis.com/auth/userinfo.profile');
  provider.addScope('https://www.googleapis.com/auth/userinfo.email');
  
  // Youtube data scopes
  provider.addScope('https://www.googleapis.com/auth/youtube');
  provider.addScope('https://www.googleapis.com/auth/youtube.force-ssl');
  provider.addScope('https://www.googleapis.com/auth/youtube.force-ssl');
  provider.addScope('https://www.googleapis.com/auth/youtube.readonly	');
  provider.addScope('https://www.googleapis.com/auth/yt-analytics-monetary.readonly');
</script>
{% endblock %}
